@inherits LayoutComponentBase
@implements IRazorComponentApplication<Layout>

@using Microsoft.AspNetCore.Components.Routing

<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="Net8Demo.Web.App.styles.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Net8Demo.Web.App</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <NavLink class="nav-link text-dark" href="counter/#ciao">Counter</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link text-dark" href="fetchdata">Fetch data</NavLink>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main>
            <CascadingModelBinder>
                @Body
            </CascadingModelBinder>
        </main>
    </div>

    <script src="_framework/blazor.web.js" suppress-error="BL9992"></script>
</body>
</html>
